<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to quoting dojo!</h1>
        <form action="/quotes" method="post">
            <label for="name">your name</label>
            <input type="text" name="name" id="name">
            <label for="quote">your quote</label>
            <input type="text" name="quote" id="quote">
            <input type="submit">
        </form>
    </div>
</body>
</html>