<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>quotes</h1>
    <% for(let quote of arr){ %>
        <br><%=quote.name%> says <%=quote.quote%> at <%=quote.time%>
        <%#  will output the numbers 1-100 %>
    <% } %>
    <div></div>
</body>
</html>